
  <% publish_to chat_path(@message.chat) do%>
  var message = '<div class="message"><strong><%=link_to @message.sender.name, user_path(@message.sender)%>:</strong><br><%= @message.content %></div>'
  $('.chat-box').append(message);
  <% end %>

  <% if current_user == @message.sender %>
    $('.message').last().addClass("sender")
    <% end %>
$('#new_message')[0].reset()
