<div class="container">
  <div class="otter">

    <h1>welcome to <strong>romp</strong>, sweetie.</h1>
    <h2>Have you ever wanted to bond? OK.</h2>
    <h3>romp is only deployed in nyc for right now. romp is the place to find people to do. </h3>
    <h3>Log in with facebook or email, above right, to get started.</h3>
    <p>
      This is a project by:
      <%= link_to "@eaud", url: "https://github.com/eaud/" %>,
      <%= link_to "@jappleba", url: "https://github.com/jappleba/" %>,
      & <%= link_to "@kaylee42", url: "https://github.com/kaylee42/" %>.
    </p>
  </div>



</div>
