<h3>Get excited <%= @user.name %>! </h3>
You just got approved to attend <%= link_to @activity.name, activity_url(@activity) %> on Romp!
Head on over now to join the chat, make plans, and do the damn thing!

Love,
Romp
