<div class="approval">
    <div class="approve">
      They are in  <span class="glyphicon glyphicon-plus" ></span>
    </div>
    <div class="disapprove">
      They are out  <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
    </div>
</div>
