
      <div class="modal-header">
        <h2>Edit <%=activity.name%></h2>
      </div>
      <div class="modal-body modal-footer">
        <%= render partial: "activities/form", locals: {activity: activity} %>
      </div>
