<div class="interest">
    <div class="dislike">
      I don't want to go  <span class="glyphicon glyphicon-thumbs-down" ></span>
    </div>
    <div class="like">
      I want to go  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
    </div>
</div>
