<div class="container">
  <div class="card col-xl-6 col-lg-6 col-md-8 col-sm-12 col-xs-12">

  <div class="activity-image" style="background: url(<%= @activity.image_url %>) 50% 50% no-repeat;background-size: cover;">
  </div>

    <%= render 'form' %>

  </div>
</div>
