
<div class="container">

  <% if @fresh_activities && !@fresh_activities.empty? %>
    <div id="tinderslide" class="stack stack-randomrot active">
      <ul>
        <%= render @fresh_activities  %>
      </ul>
    </div>
  <% end %>

</div>
