<% if user_signed_in? %>

<div class="container">
  <% if @fresh_activities && !@fresh_activities.empty? %>
    <div id="tinderslide" class="stack stack-randomrot active">
      <ul>
        <%= render @fresh_activities  %>
      </ul>
    </div>
  <% end %>

</div>

<div class="my-modal modal fade" id="showActivityModal" tabindex="-1" role="dialog" aria-labelledby="showActivityLabel">
  <div class="modal-dialog" role="document">

      <div class="show-activity">

      </div>
    </div>
  </div>
</div>


<script>
  var activityModal = function(){
    $('.stack-randomrot').on('click', ".name-click", function(e){
      e.preventDefault()
      var activityId = this.href.split('/')[4]

      $.ajax({
        type: "GET",
        url: "/activity/" + activityId + "/additional_info",
      });
    });
  }
  activityModal()
</script>

<% else %>

<div class="container">
  <div class="fun-facts parallax testi">

    <div class="col-md-3 margin-btm-20">
      <div class="fact-inner">
        <h1 class="super-large">welcome to </h1><h1 class="super-super-large">romp</h1>
      </div>
    </div>
    <div class="col-md-3 margin-btm-20">
      <div class="fact-inner">
        <h3>meet people in nyc who like the same stuff you do. then get out and do the damn thing!</h3>
      </div>
    </div>
    <div class="col-md-3 margin-btm-20">
      <div class="fact-inner">
        <h5 class="be-normal">share an adventure you've always wanted to go on, a favorite pastime you're too embarrassed to tell your friends about, or an event it'd be nice to have a little company for.</h5>
      </div>
    </div>
    <div class="col-md-3 margin-btm-20">
      <div class="fact-inner">
        <h3 class="super-large">sign up now to start romping!</h3>
      </div>
    </div>

    <%= image_tag("otter_large_flipped.png", class: "fact-inner col-md-3 margin-btm-20", id: "otter-pic") %>

  </div>



</div>

<% end %>
