
<div class="container">
  <% if @fresh_activities && !@fresh_activities.empty? %>
    <div id="tinderslide" class="stack stack-randomrot active">
      <ul>
        <%= render @fresh_activities  %>
      </ul>
    </div>
  <% end %>

</div>

<div class="my-modal modal fade" id="showActivityModal" tabindex="-1" role="dialog" aria-labelledby="showActivityLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="show-activity modal-header modal-body modal-footer">

      </div>
    </div>
  </div>
</div>


<script>
  var activityModal = function(){
    $('.stack-randomrot').on('click', ".name-click", function(e){
      e.preventDefault()
      var activityId = this.href.split('/')[4]

      $.ajax({
        type: "GET",
        url: "/activity/" + activityId + "/additional_info",
      });
    });
  }
  activityModal()
</script>
