<div class="container">
    <h2>My Approved Activities</h2>
    <ul class="open-activities container center-container">
      <div class="row">
        <%= render partial: "my_guest_activities", collection: @approved_activities, as: :activity %>
      </div>
    </ul>
  <br><br>
</div>
