<div class="container">


    <% if !@open_activities.empty? %>
    <h2>Open Activities</h2>

    <ul class="open-activities container center-container">
      <div class="row">
        <%= render @open_activities %>
      </div>
    </ul>
    <% end %>
  <br><br>
    <% if !@closed_activities.empty? %>
    <h2>Closed Activities</h2>
    <ul class="closed-activities">
        <%= render @closed_activities %>
    </ul>
    <% end %>
</div>
