<div class="container">

  <h2>Open Activities</h2>
  <ul class="open-activities container center-container">
    <% if !@open_activities.empty? %>
      <div class="row">
        <%= render @open_activities %>
      </div>
    <% end %>
    </ul>

  <br><br>
    <h2>Closed Activities</h2>
    <ul class="closed-activities">
      <% if !@closed_activities.empty? %>
        <%= render @closed_activities %>
      <% end %>
    </ul>
</div>
