<section id="footer" class="padding-80">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 copyright">
                <span>&copy;2016. Precognitioned, LLC. All rights reserved.</span>
            </div>
            <div class="col-md-6 col-sm-6 copyright">
              <span>
                  Made with <span class="glyphicon glyphicon-heart"></span> by
                  <%= link_to "@eaud", "https://github.com/eaud/" %>,
                  <%= link_to "@jappleba", "https://github.com/jappleba/" %>,
                  & <%= link_to "@kaylee42", "https://github.com/kaylee42/" %>.
                </span>
            </div>
        </div>
    </div>
</section><!--footer end-->
