<!DOCTYPE html>
<html>
<head>
<title>Facebook Login JavaScript Example</title>
<meta charset="UTF-8">
</head>
<body>

  <%#=link_to "Log In with Facebook", login_path("facebook")%>
  <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
<div id="status">
</div>

</body>
</html>
