<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= yield %>

    <em>This email being sent by a bot! Please do not respond. :)</em>
  </body>
</html>
